.Tweet {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Tweet p {
    font-size: 18px;
}

.Tweet .Tweet__info {
    margin-top: 25px;
}

.Tweet .Tweet__info span {
    margin-left: 10px;
    font-weight: bold;
}

.anticon-heart {
    color: #f44336;
    font-size: 14px;
}

.ant-card-head {
    display: none;
}

@media (min-width: 750px) {
    .Tweet {
        width: 48%;
        margin-right: 2%;
    }
    .Tweet:nth-child(2n) {
        margin-right: 0;
    }
}