.c-cards {
    margin-top: 50px;
}

.c-card {
    width: 100%;
}

@media (min-width: 750px) {
    .c-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-card {
        width: 25%;
    }
}